# dependencies
/node_modules

# Next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# SQLite (dev local uniquement)
*.db
*.db-journal
prisma/prisma/
